@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "bootstrap/dist/css/bootstrap.min.css"; */

@layer utilities {
  /* .accordionWrapper .ant-collapse {
    @apply border-0;
  }
  .accordionWrapper .accordion .accordion-header .accordion-button {
    @apply rounded-[20px] bg-white font-mon shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] !important;
  }
  .accordionWrapper .ant-collapse .ant-collapse-item {
    @apply mb-[29px];
  }
  .accordionWrapper .ant-collapse .ant-collapse-content {
    @apply rounded-[20px] bg-white font-mon shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] pt-8 !important;
  } */
}

@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-Regular.otf);
}
@font-face {
  font-family: MontserratMedium;
  src: url(/fonts/Montserrat/Montserrat-Medium.otf);
}
@font-face {
  font-family: MontserratSemiBold;
  src: url(/fonts/Montserrat/Montserrat-SemiBold.otf);
}
@font-face {
  font-family: MontserratBold;
  src: url(/fonts/Montserrat/Montserrat-Bold.otf);
}
@font-face {
  font-family: SpaceMono;
  src: url(/fonts//Space-Mono//SpaceMono-Regular.ttf);
}
@font-face {
  font-family: SpaceMonoBold;
  src: url(/fonts//Space-Mono//SpaceMono-Bold.ttf);
}
@font-face {
  font-family: Arimo;
  src: url(/fonts/Arimo/Arimo-Regular.ttf);
}
@font-face {
  font-family: ArimoBold;
  src: url(/fonts/Arimo/Arimo-Bold.ttf);
}

body {
  font-family: Montserrat, Inter;
}

.accordionWrapper .accordion .accordion-item {
  background-color: transparent;
  border: none;
  margin-bottom: 29px;
}

.accordionWrapper .accordion .accordion-header .accordion-button {
  font-family: Montserrat;
  color: #000;
  border-radius: 20px !important;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.accordionWrapper .accordion .accordion-collapse {
  font-family: Montserrat;
  font-size: 13px;
  color: #222;
  border-radius: 20px !important;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-top: 32px;
}

.accordionWrapper .accordion .accordion-button::after {
  background-image: url("/images/plus.svg");
}
.accordionWrapper .accordion .accordion-button:not(.collapsed)::after {
  transform: rotate(45deg);
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
