@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .accordionWrapper .ant-collapse {
    @apply border-0;
  }
  .accordionWrapper .ant-collapse .ant-collapse-header {
    @apply rounded-[20px] bg-white font-mon shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] !important;
  }
  .accordionWrapper .ant-collapse .ant-collapse-item {
    @apply mb-[29px];
  }
  .accordionWrapper .ant-collapse .ant-collapse-content {
    @apply rounded-[20px] bg-white font-mon shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] pt-8 !important;
  }
}

@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-Regular.otf);
}
@font-face {
  font-family: MontserratMedium;
  src: url(/fonts/Montserrat/Montserrat-Medium.otf);
}
@font-face {
  font-family: MontserratSemiBold;
  src: url(/fonts/Montserrat/Montserrat-SemiBold.otf);
}
@font-face {
  font-family: MontserratBold;
  src: url(/fonts/Montserrat/Montserrat-Bold.otf);
}
@font-face {
  font-family: SpaceMono;
  src: url(/fonts//Space-Mono//SpaceMono-Regular.ttf);
}
@font-face {
  font-family: SpaceMonoBold;
  src: url(/fonts//Space-Mono//SpaceMono-Bold.ttf);
}
@font-face {
  font-family: Arimo;
  src: url(/fonts/Arimo/Arimo-Regular.ttf);
}
@font-face {
  font-family: ArimoBold;
  src: url(/fonts/Arimo/Arimo-Bold.ttf);
}

body {
  font-family: Montserrat, Inter;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
